<footer class="fdb-block footer-small bg-primary text-white mt-5">
      <div class="container">
        <div class="row text-center align-items-center">
          <div class="col">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Privacy Policy</a>
              </li>
              
            </ul>
            <p class="h5 mt-3">
                &copy;
                <script>
                document.write(new Date().getFullYear())
                </script>
                DigitaVote. All Rights Reserved <br/>
                Developed with <i class="fa fa-heart text-white"></i> by
                <a href="https://www.twitter.com/rastaxarm" target="blank" class="text-white">RastaXarm</a>
            </p>
          </div>
        </div>
      </div>
    </footer>