{% extends 'generic_base.html' %}
{% from '_helpers.html' import render_form%}

{% block title_text %} {% if title %} {{title}} {% else %} Master Dashboard {% endif %} {% endblock title_text %}

{% block generic_contents %}
<div class="container text-center justify-content-center">
    <h3 class="text-primary mb-4">{% if title %} {{title}} {% else %} Master Dashboard {% endif %}</h3>
    {% if title =="Voter's Login" %}
        {{display_flash_message()}}
    {% endif %}
    {{render_form(form, s_btn = s_btn)}}
</div>
{% endblock generic_contents %}




