{% extends 'base_main.html' %}
{% from '_helpers.html' import render_field2, display_flash_message%}
{% block title_text %} 
{% if title %}{{title}} {% else %}Factory {% endif %}
{% endblock title_text %}

{% block main -%}

<div class="container my-4">
        {% if reset_pass %}
        <div class="col-md-5 col-xl-4 col-12 mx-auto">
            <div class="card card-body my-3">
                <h3 class="text-center text-primary">{{title}}</h3>
                <div class="justify-content-center text-center">
                   {% if error %}
                    <h5 class="text-center text-danger">{{error_message}}</h5>
                   {% else %}
                    <form id="form" action="" method="post" novalidate>
                        {{form.hidden_tag()}}
                        {{render_field2(form.password, label_attribs={"style":"position: relative;"})}}
                        {{render_field2(form.cpassword, label_attribs={"style":"position: relative;"})}}

                        <div class="text-center">
                            <button class="btn btn-outline-primary" type="submit">
                               Change Password
                            </button>
                        </div>
                    </form>
                   {% endif %}
                
                </div>
            </div>
        </div>
        {% else %}
         <div class="col-md-5 col-xl-4 col-12 mx-auto">
            <div class="card card-body my-3">
                <h3 class="text-center text-primary">{{title}}</h3>
                <div class="justify-content-center text-center">
                    <form id="form" action="" method="post" novalidate>
                        {{form.hidden_tag()}}
                        {% if reset %}
                        {{render_field2(form.user_type,label_attribs={"style":"position: relative;"})}}
                        {% endif %}
                        {{render_field2(form.id,label_attribs={"id":"id_label","style":"position: relative;"})}}

                        <div class="text-center">
                            <button class="btn btn-outline-primary" type="submit">
                               <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                
                </div>
                {% if details %}
                <div class="container">
                    <h2 class="text-center b-b">Details</div>
                    
                    <div class="row mt-4">
                        <div class="col-4 pr-0">
                            <p class="text-bolder">
                            ID
                            </p>
                        </div>
                        <div class="col-8 pr-1">
                            <p class="">{{details.id}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4 pr-0">
                            <p class="text-bolder">
                            Full Name
                            </p>
                        </div>
                        <div class="col-8 pr-1">
                            <p class="">{{details.fullname}}</p>
                        </div>
                    </div>
                    
                    <div class="b-b"></div>
                    <div class="text-center">
                        {% if details["error"] %}
                            <p class="text-danger">{{details.error}}</p>
                        {% else %}
                            <p class="text-success">{{details['success']}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        
</div>

{% endblock main -%}
{% block scripts %}
{{super()}}

<script type="text/javascript">
    var id_label = document.getElementById("id_label");
    var user_type = document.getElementById("user_type");
    var box = document.getElementById("id");

    window.onload = function(){
        if(user_type){
            update_box();
        }
    };

    if(user_type){
        user_type.addEventListener('change', ()=>{
            update_box();
        });
    }
    

    function update_box(){
        if (user_type.value == 3){
            id_label.innerHTML = "Email Address";
            box.setAttribute("type", "email");

        }else{
            id_label.innerHTML = "Identification Number";
            box.setAttribute("type", "text");
        }
    }
</script>
{% endblock scripts %}
