{% extends 'dashboard_base.html' %}
{% from '_helpers.html' import render_form, display_flash_message %}

{% block title_text %}{{title}} - Dashboard {% endblock title_text %}


{% block main_content -%}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="panel">
            <div class="panel-body">
                <div class="section-heading text-center">
                    <h1 class="page-title">{{title}}</h1>
                </div>
                <p>{{render_form(form, s_btn=s_btn)}}</p>
                
            </div>
        </div>
    </div>
</div>

{%- endblock  main_content %}

